@import "../../styles/variable.scss";
#home-styles {
  display: flex;

  .account-chart-container {
    height: 240px;
  }
  .journals-container {
    height: 150px;
  }
  .player-container {
    height: calc($body-height - 240px - 150px - 60px);
    max-height: 400px;
  }
  .cards {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .canvas {
    width: 50%;
    max-height: 50vh;
  }
}
