@import "../../styles/variable.scss";
#auth-layout-style {
  background-color: $primary-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .auth-container {
    background-color: $background-color;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 15px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 700px;

    @media (min-width: $xs) {
      padding: 20px;
      width: 90%;
    }
    @media (min-width: $lg) {
      padding: 40px;
      width: 600px;
    }
    @media (min-width: $xl) {
      padding: 80px;
      width: 600px;
    }
  }
}

#platform-layout-style {
  height: 100vh;
  background-color: $background-color;
  .platform-conainer {
  }
  .sidebar-container {
    background-color: $surface-color;
    height: $body-height;
    padding-top: 10px;
  }

  .outlet-container {
    padding-top: 10px;
    height: $body-height;
  }

  .platform-link {
    cursor: pointer;
  }

  .nav-card {
    display: flex;
    background: $background-color;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;

    * {
      display: flex;
      align-items: center;
    }
    .img {
      flex: 1;
      justify-content: end;
    }

    .content {
      flex: 4;
      justify-content: center;
    }
  }
}
