@import "../../styles/variable.scss";
#journals-page-styles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .journals-body {
    display: flex;
    flex-direction: column;
    // max-height: 60vh;
    height: 100%;
    overflow: auto;
  }
}
