@import "../../styles/variable.scss";
#table-style {
  overflow-x: auto;

  table,
  th,
  td {
    padding: 10px;
  }

  table {
    width: 100%;
  }
  th {
  }

  .tr:hover {
    // background: $primary-color;
    cursor: pointer;
  }
  .tr {
    border-bottom: 5px solid $background-color;

    background: $surface-color;
  }

  td {
    border-right: 1px solid $primary-color;
  }

  // tr.spaceUnder>td {
  //   padding-bottom: 1em;
  // }
}
