@import "~bootstrap/scss/bootstrap";
@import "./styles/variable.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rmp {
  margin: 0px !important;
  padding: 0px !important;
}

.f1 {
  font-size: 32px;
}
.f2 {
  font-size: 24px;
}
.f3 {
  font-size: 18.72px;
}
.f4 {
  font-size: 16px;
}
.f5 {
  font-size: 13.28px;
}
.f6 {
  font-size: 10.72px;
}
.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}
.break-spaces {
  white-space: break-spaces;
}
.pointer {
  cursor: pointer;
}
